@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;400&display=swap');

:root{
    --cor01: #191A23;
    --cor02: #FEFCFB;
    --cor03: #7F43FF;

    --fonte-principal: 'Merriweather', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --fonte-apoio: 'Roboto Serif', serif;
}

@media all {
    * {
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (min-width: 360px) and (max-width: 812px){

    body {
        background-color: var(--cor01);

    }

    main{
        padding: 10px;
        margin: auto;
        width: 80vw;
        height: 90;
        border-radius: 10px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--cor02);
    }

    .header {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .menu {
        
    }
       
    h1 {
        text-align: center;
    }
    
    .img1 {
        width: 30px;
        height: 30px;
    }
}





@media screen and (min-width: 812px) and (max-width: 1950px) {

main{
    padding: 10px;
    margin: auto;
    width: 90vw;
    height: 95vh;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor02);
}

body {
    background-color: var(--cor01);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.welcome {
    width: 90vw;
    height: 200px;

}

h1 {
    text-align: center;
    margin: 15px;
    font-size: 35px;
    margin: 10px;
}

}