@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;400&display=swap');

:root{
    --cor01: #0B132B;
    --cor02: #407BFF;
    --cor03: #001C55;
    --cor04: #FFF8F0;

    --fonte-principal: 'Merriweather', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --fonte-apoio: 'Roboto Serif', serif;
}

*{
    margin: 0px;
}
main{
    padding-left: 10%;
    padding-right: 10%;
}


/*header*/
header{
    display: fixed;
    background-color: var(--cor01);
    width: 100vw;
    height: 150px;
    
}
.logo{
    width: 110px;
    height: 90px;
    padding-left: 50px;
    margin: auto;
    
    
}
.menu{
    display:flex ;
    text-align: justify;
    height: 5px;
    font-size: 18px;
    position: relative;
    justify-content: space-evenly;
    
}
.menu > a{
    margin: 0px 1px;
    position: relative;
    color: var(--cor02);
    text-decoration: none;
    
}
.menu > a:hover{
    text-decoration: underline;
}


/*main*/
.scroll1{
    font-family: var(--fonte-principal);
    font-size: 5vh;
    padding: 15%;
    text-align: center;
}
.cta{
    padding: 15px 55px;
    margin-top: 50px;
}
.button{
    padding: 10px 25px;  
}
h2{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 35px; 
    padding: 5px 15px 15px 15px;
}
.portfolio{
    display: flex;
    text-align: justify;
    margin: 20px;
    position: relative;
    justify-content: space-evenly;
    
}
.esquerda{
    border: 1px solid var(--cor01);
    width: 450px;
    height: 600px;
    padding: 10px;
}
.centro{
    border: 1px solid var(--cor01);
    width: 450px;
    height: 600px;
    padding: 10px;
}
.direita{
    border: 1px solid var(--cor01);
    width: 450px;
    height: 600px;
    padding: 10px;
    
}

/*footer*/
footer{
    display: flex;
    background-color: var(--cor01);
    width: 100vw;
    height: 50px;
}
footer.social-media{
    position: relative;
    justify-items: center ;
    
}
.github{
    position: absolute;
    left: 91%;
    
}
.behance{
    position: absolute;
    left: 93%;
}
.linkedin{
    position: absolute;
    left: 95%;
}