@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;400&display=swap');

:root{
    --cor01: #0B132B;
    --cor02: #407BFF;
    --cor03: #001C55;
    --cor04: #FFF8F0;

    --fonte-principal: 'Merriweather', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --fonte-apoio: 'Roboto Serif', serif;
}

@media all {
    body{
        background-color: var(--cor01);
    }

    p, h2, lable {
        color: var(--cor04);
    }

}

@media screen and (min-width: 360px) and (max-width: 812px ){
    /*HEADER*/
    .menu{
        display: none;
    }
    .cta{
        display: none;
    }

    /*BODY*/
    h1.first{
        display: inline;
        color: var(--cor04);
        font-size: 8vw;
    }

    h1.second{
        display: inline;
        color: var(--cor02);
        font-size: 8vw;
    }

    h2.first{
        display: inline;
        color: var(--cor04);
        font-size: 5vw;
    }

    h2.second{
        display: inline;
        color: var(--cor02);
        font-size: 5vw;
    }

    p{
        font-size: 4vw;
    }

    .SectionOne {
        display: flex;
        
        padding: 1vw 1vw 0vw 1vw;
    }

    .ImgHome{
        width: 200px;
        height: 200px;
        display: flex;
        padding: 25px;
    }

    .Home {
        width: 50vw;
        height: 40vh;
    }

    .SocialMedia > img {
        width: 5vw;
        height: 5vh;
        padding: 1vw;
    }

    .SectionTwo {
        padding: 20vw 1vw 0vw 1vw;
        width: 90vw;
        height: 40vh;
        text-align: center;
    }

    #CV {
        width: 15vw;
        height: 5vh;
        background-color: var(--cor02);
        color: var(--cor04);
        border: none;
        border-radius: 5px;
    }

    .MySkills {
        align-items: center;
        height: 65vh;
        padding: 9vw;

    }

    .Skills {
        padding: 4vw;
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 25vh;
    }

    .FirstRow {
        display: flex;
        flex-direction: row;
    }

    .SecondRow {
        display: flex;
        flex-direction: row;
    }

    .SectionThree {
        text-align: center;
    }

    .SectionFour {
        text-align: center;
    }

    .Project {
        border: none;
        border-radius: 40px;
        padding: 5vw;
        width: 70vw;
        height: 30vh;
    }

    .SectionFive{
        text-align: center;
    }

    .ContactMe {
        padding: 10%;
    }

    input {
        width: 45vw;
        height: 3vh;
    }

    #SendMessage {
        width: 25vw;
        height: 5vh;
        background-color: var(--cor02);
        color: var(--cor04);
        border: none;
        border-radius: 5px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1024px ) {
    .menu{
        display:flex ;
        text-align: justify;
        height: 5px;
        font-size: 18px;
        position: relative;
        justify-content: space-evenly;
        
    }
    .menu > a{
        margin: 0px 1px;
        position: relative;
        color: var(--cor02);
        text-decoration: none;
        
    }
    .menu > a:hover{
        text-decoration: underline;
    }


}

@media screen and (min-width: 1025px) and (max-width: 1990px ){
    .menu{
        display:flex ;
        text-align: justify;
        height: 5px;
        font-size: 18px;
        position: relative;
        justify-content: space-evenly;
        
    }
    .menu > a{
        margin: 0px 1px;
        position: relative;
        color: var(--cor02);
        text-decoration: none;
        
    }
    .menu > a:hover{
        text-decoration: underline;
    }


}